.header {
    padding-inline: var(--container-padding-x);
    padding-block: 1.39vw;
    background-color: var(--color-white);
    border-bottom: 1px solid #E6EFF5;

    .header-avatar-image {
        width: max(40px, 5.86vh);
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 5px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.08vw;
    }

    &__menu {
        display: flex;
        gap: min(2.08vw, 30px);
        justify-content: end;
        align-items: center;
    }

}