.search {
    margin-left: auto;
    width: 17.7vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: overflow 0.3s ease;
    &__input:focus-within {
        overflow: hidden; 
    }

    &__input {

        width: 17.7vw;
        height: var(--input-height);
        border-radius: 50rem;
        border: none;
        background-color: var(--color-fon);
        transition: transform 0.3s ease;

        background-image: url(../image/search-icon.svg);
        background-repeat: no-repeat;
        background-position-x: 25px;
        background-position-y: 50%;
        padding-left: 60px;
        padding-right: 10px;
        color: var(--color-gray-alt);
        text-overflow: ellipsis;

        &::placeholder {
            color: inherit;
            font-family: var(--font-family-regular);
            @include fluid-text(15, 13);
            text-overflow: ellipsis;
        }

        &:focus {
            transform: scale(1.1);
            
        }
        @include mobile {
            width: 100%;
            background-size: 16px;
            padding-left: 45px;
            background-position-x: 19px;
        }
    }

}